{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="row">
        <div class="large-12 columns">



          <div class="row">



            <div class="large-4 small-12 columns">

{#              <img src="http://placehold.it/500x500&text=Artist">#}
                {% if artist.img %}
                    <img src="{{ artist.img.url }}" alt="{{ artist.name }}">
                {% else %}
                    <h3>{{ artist.name }}</h3>
                {% endif %}

              <div class="panel">
                <h3>{{ artist.name }}</h3>
              </div>

            </div>


            <div class="large-8 columns">

              <div class="row">

                {% for cancion in canciones %}

                  <div class="large-4 small-6 columns">

                      <a href="{% url 'bitlyric:cancion' artist.slug cancion.slug %}">

                          <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/music.png"
                               alt="music_logo"/>
                          <div class="panel">
                            <h5 class="text-center">{{ cancion.title }}</h5>
                          </div>
                      </a>

                  </div>

                {% endfor %}

              </div>

            </div>

          </div>


        </div>
      </div>

{% endblock %}