{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
       {# seccion para la info del artista #}
       <aside class="large-3 columns">

          <img src="{{ artist.img.url }}">

          <div class="panel">
            <a href="{% url 'bitlyric:artista' artist.slug %}"><h3>{{ artist.name|title }}</h3></a>
            <h5 class="subheader">
                <ul>Search for {{ artist.name|title }}  lyrics: <input type="text"/>
                    {% for cancion in canciones %}
                        <a href="{% url "bitlyric:cancion" artist.slug cancion.slug %}">
                            <li>{{ cancion.title }}</li>
                        </a>
                    {% endfor %}

                </ul>
            </h5>
          </div>

        </aside>

        {# Seccion donde va la letra de la cancion #}
        <div class="large-5 columns" role="content">
          <article>

            <h3>{{ cancion.title|title }} Lyric</h3>

            <div class="row">
              <div class="large-12 columns">

                {{ cancion.letra }}

              </div>
            </div>

          </article>
        </div>

    {# Seccion donde va el video de la canion #}
    <div class="large-4 columns">
        <iframe src="http://www.youtube.com/embed/{{ cancion.link }}"
                width="100%"
                height="300"
                frameborder="0">
        </iframe>
    </div>


{% endblock %}