{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
    <h2>Busquedas relacionadas con <span style="color:#EEEEEE; background: #444444;border-radius:10px;"> "{{ searched }}" </span></h2>

        <ul>
            {% for cancion in canciones %}
                <a href="{% url 'bitlyric:cancion' cancion.artistas.all.0.slug cancion.slug %}"><li>{{ cancion.title }}</li></a>
            {% endfor %}
        </ul>

    </div>

{% endblock %}