<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type='image/ico' href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}
        bitLyric
    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    {% block extra-css %}
    {% endblock %}


  </head>
  <body>
    

    <div class="row">
        <div class="large-3 columns">
            <a href="{% url 'bitlyric:index' %}">
                <h1>bitLyric</h1>
            </a>
        </div>
        <div class="large-9 columns right">
          <form method="get" action="{% url 'bitlyric:search' %}">
            <div class="row collapse">
              <div class="large-10 small-8 columns">
                <input name="music" type="text"/>
              </div>

              <div class="large-2 small-4 columns">
                  <input class="postfix button expand" type="submit" value="Search"/>
              </div>
            </div>
          </form>
        </div>

    </div>
    

    {% block content %}
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3 class="text-center">Pagina en Construccion. . . </h3>
        </div>
          <h1>sugerrencia para buscar: prueba, love, test, son, sweet</h1>
      </div>
    </div>


    {% endblock %}



     <footer style="background-color: #F8F8FA;">
        <div class="large-12 columns"><hr/>
          <div>
            <div class="large-12 columns">
              <form method="get" action="{% url 'bitlyric:search' %}">
                <div class="row collapse">
                  <div class="large-10 small-8 columns">
                    <input name="music" type="text" placeholder="Search lyrics . . . "/>
                  </div>

                  <div class="large-2 small-4 columns">
                      <input class="postfix button expand" type="submit" value="Search"/>
                  </div>
                </div>
              </form>
            </div>

                  <h4>Ultimas letras Publicadas. . .</h4>


                <ul class="large-3 columns">

                    {% for cancion in ult_canciones %}
                        <li>
                            <a href="{% url 'bitlyric:cancion' cancion.artistas.all.0.slug cancion.slug %}">{{ cancion.title }}</a>
                            |
                            <a href="{% url 'bitlyric:artista' cancion.artistas.all.0.slug %}">{{ cancion.artistas.all.0.name}}</a>
                        </li>
                    {% endfor %}

                </ul>


          </div>
        </div>
      </footer>


    
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block extra-js %}{% endblock %}

  </body>
</html>
